<style type="text/css">
    .remove {
        right: 20px;
        top: 2px;
        z-index: 100;
        position: absolute;
        color: #fff;
        cursor: pointer;
    }

     .remove:hover {      
       text-shadow:2px 2px 2px #8E8E8E;
    }
</style>
<div class="row" id="image-upload">
    <input type="hidden" name="ImgKey" id="imgkey" value="@ViewBag.ImgKey" />
    <div class="panel panel-primary">
        <div class="panel-heading" style="background-color:#fff;border:none;">
            <button type="button" class="btn btn-default" id="btnUpload">
                上傳
            </button>
            <div class="well-sm">
                圖片大小:長:900，寬:600
            </div>
            <div style="width:0;height:0;overflow:hidden">
                <input type="file" name="file[]" id="file" multiple />
            </div>
        </div>
        <div class="panel-body" style="background-color:#fff;border:none;">
            <p id="message" style="display:none;">

            </p>
            <div class="row" id="image-panel">
                @if (Session[ViewBag.ImgKey] != null)
                {
                    var images = (List<WGHotel.Models.ImageViewModel>)Session[ViewBag.ImgKey];
                    foreach (var img in images)
                    {
                        var base64 = Convert.ToBase64String(img.Image);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <div class="col-md-3 img-container">
                            <img class="img-responsive" src="@imgSrc" />
                            <i class="glyphicon glyphicon-remove remove" data-name="@img.Name"></i>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function(){

        let btnupload = $('#btnUpload', '#image-upload');
        let file = $('#file','#image-upload');
        let imgPanel = $('#image-panel', '#image-upload');
        let key = $('#imgkey', '#image-upload').val();

        let maxSize = 4050000;
        var size = 0;
        let MaxWidth = 900;
        let MaxHeight = 600;
        let arr = [];

        btnupload.on('click', function () {
            size = 0;
            file.val("");
            file.trigger('click');
        });

        file.on('change', function (e) {        
            $('#message').html('').hide();
            //filesUpload(this);
            preview(this);
            //UploadPost();
        });

        function format_float(num, pos)
        {
            var size = Math.pow(10, pos);
            return Math.round(num * size) / size;
        }
 
      
        function preview(input) {
            if (input.files && input.files[0]) {
                var files = input.files;
                $.each(files, function (index, file) {
                    if (!file.type.match(/^image/)) { //去除非圖片檔
                        console.log('file is not an image');

                    } else {
                        var img = document.createElement('img');
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            img.src = e.target.result;
                            var canvas = document.createElement("canvas");
                            var ctx = canvas.getContext('2d');                            
                            canvas.height = MaxHeight;
                            canvas.width = MaxWidth;                           
                            ctx.fillRect(0, 0, MaxWidth, MaxHeight);                           
                            ctx.drawImage(img, 0, 0, MaxWidth, MaxHeight);
                            var dataUrl = canvas.toDataURL("image/jpeg");
                            var regex = new RegExp('^data:' + 'image/jpeg' + ';base64,');
                            var base64 = dataUrl.replace(regex, '');
                            //arr.push({name: file.name, image: base64,key:key });
                            var model = { name: file.name, image: base64, key: key };
                            UploadPost(model);
                            let col = $('<div class="col-md-3 img-container"></div>');
                            let DeleteIcon = $('<i class="glyphicon glyphicon-remove remove"></i>');

                            DeleteIcon.attr("data-name", file.name);
                            let imageTemp = $('<img/>').attr('src', dataUrl).addClass('img-responsive');
                            col.append(imageTemp);
                            col.append(DeleteIcon);
                            imgPanel.append(col);

                        }

                        reader.readAsDataURL(file);
                    }
                });
            }

            //callback();
        };

       

        function filesUpload(file) {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            var model = {};
          
            let files = file.files;
            for (var i = 0, max = files.length; i < max; i++) {                    
                if (!files[i].type.match(/^image/)) { //去除非圖片檔
                    console.log('file ' + (i + 1) + ' is not an image');
                    continue;
                }

                let Myfile = files[i];
                var name = Myfile.name;
                
                var src = window.URL.createObjectURL(Myfile);
                var img = document.createElement("img");
                var image = new Image();
                
                image.src = window.URL.createObjectURL(Myfile);
                
                image.onload = function () {
                   
                        var width = 200;
                        var height = 100;
                        canvas.width = 200;
                        canvas.height = 100;

                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        //var image = new Image();
                        ctx.drawImage(image, 0, 0, width, height);
                        var dataurl = canvas.toDataURL("image/jpeg");
                        //去掉 dataurl 開頭的 data:image/png;base64,
                        var regex = new RegExp('^data:' + 'image/jpeg' + ';base64,');
                        var base64 = dataurl.replace(regex, '');
                        arr.push({ image: base64, url: dataurl, name: name });
                        model.image = base64;
                        model.name = name;
                        model.url = dataurl;
                        //img.src = dataurl;
                        //imgPanel.append(img);
                        SelfPost(model);
                    
                };
                
                //img.src = canvas.toDataURL("image/jpeg");
                //image.src = src;
            }
            
            //SelfPost(model);
            
        };
        

        var UploadPost = function (model) {           
            $.ajax({
                type: "POST",
                url: '/ImageUpload1',
                data: JSON.stringify(model),
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (xhr) {
                    //preview(file);
                    //var d = xhr.data;
                    //console.log(xhr.data);
                    //var img = document.createElement('img');
                    ////console.log(arr[i].url);
                    //img.src = d.path;
                    //imgPanel.append(img);
                },
                error: function (xhr) {
                    $('#message').html('上傳資料過大').show();
                    console.log("ERROR");
                }
            });
        }


        $('#image-panel').delegate(".remove", "click", function () {
            var self = $(this);
            var name = self.attr("data-name");
            $.ajax({
                type: "POST",
                url: '/ImageDelete',
                data: {name:name,SessionKey : key},
              
                success: function (xhr) {
                    //console.log(self.closest('.img-container').length);
                    self.closest('.img-container').remove();
                },
                error: function (xhr) {
                    $('#message').html('上傳資料過大').show();
                    console.log("ERROR");
                }
            });
        });

           
    })
    

</script>
